<a href="https://colab.research.google.com/github/fedhere/DSPS_2025_makeupfinal/blob/main/DSPS2025_final_makeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

copy the notebook to your drive before you start ^^^
# DSPS 2026 makeup exam

#RULES:
- ## WORK ALONE

- ## ASK QUESTIONS IN DM to me ON SLACK  - questions are very welcome! if you find any issues or mistakes in the description let me know as well!

- ## TURN IN YOUR WORK WITHIN 72 HOURS BY SHARING YOUR NOTEBOOK WITH ME  - by Saturday 01/23 10AM

- ## DO NOT POST ON GITHUB.

Schedule an oral exam within three weeks of the complition of the written exam at https://calendly.com/fbbianco/one-on-one. In the oral session you will duscuss and explain your choices. Your grade will be beased on this discussion, not on the written performance itself (i.e. even if you do all the tasks in the written exam, if you cannot talk about them, describe them and motivate them you will not get a good grade and, conversely, if you have problem getting good models but you can discuss effectively what you did and what you could have done you can get a good grade).

## OVERVIEW
This is an exercise based on the CHAMPS Competition for Predicting Molecular Properties. Specifically, you are to predict the coupling constant between two atoms given the two atom types (e.g., C and H), the coupling type (e.g., 2JHC), and any features you are able to create from the molecule structure (xyz) files.

## What I expect in the written exam:
I expect that you will perform the following tasks after having acquired the data:

- Data exploration

- Preprocessing and scaling appropriately as needed

- Model development

- Fitting and evaluation of your model performance

- Exploration into the model performance


**All figures should have captions and axis labels**

Please dont forget axis labels and captions! Make figures wherever apprioriate to understand the data/results (feel free to put figures in addition to the ones requested explicitly below).

**Discussion**

Put your "narrative" in text cells. Present the code neatly, deleting cells of code used for testing but leaving in all cells needed for the code to work.

I expect that you will discuss each step and to what extent it was successful, to what extent it can be improved.

I expect a justification for all your choices (e.g. how you deal with missing or redundant values, hyperparameter choices) includind a description of possible shortcomings of your choices.

**Reproducibility**

I expect your code to be reproducible and to run: _reproducible means that when I run it by Restart Kernel -> Run all I should get the exact same numbers you presented_. Where random numbers are used you should seed your random sequence (by setting a seed or the random_state if available in the model). "Running" means that your code should, run with no bugs or breaks top tp bottom; when I click Runtime RunAll the code should not stop until the last cell. Make sure you restart the kernel and rerun your code from the beginning to assure it works before you deliver it!

# TASK I :  Data Acquisition
 You can download the data from kaggle
 --- https://www.kaggle.com/competitions/champs-scalar-coupling/data (agree to the competition rules to enable download, find the command to download using python at the bottom of the page, use the kaggle software to download the data within your notebook as done for example in https://github.com/fedhere/MLPNS_FBianco/blob/main/CART/higgsbosonSearch.ipynb)

 Make sure that the data is obtained in a way that is reproducible but that it does not expose your Kaggle API keys (do not print the credentials). You will use the **training data and the structure files** only - you wont need to use the rest of the files (you can tho if you want to create more complex models).

 (Note: the unzip will take a long time to unzip the structure folder, although you can read the info in that folder from the structures.csv file so you will not need the data in the structures folder.)

 Important: make a folder on your google drive called DSPS25_final and put your data and work in that folder.

In [ ]:
... mount your drive

Mounted at /content/gdrive

In [ ]:
... all imports here

In [ ]:
... create a folder in the drive and go there with the command codeop

In [ ]:
...

In [ ]:
ls

champs-scalar-coupling.zip      scalar_coupling_contributions.csv
dipole_moments.csv              structures/
magnetic_shielding_tensors.csv  structures.csv
mulliken_charges.csv            test.csv
potential_energy.csv            train.csv
sample_submission.csv

In [ ]:
train = ...
train

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.807600
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.257000
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.254800
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.254300
4,4,dsgdb9nsd_000001,2,0,1JHC,84.807400
...,...,...,...,...,...,...
4659071,4659071,dsgdb9nsd_133884,17,4,2JHC,3.543450
4659072,4659072,dsgdb9nsd_133884,17,5,3JHC,0.568997
4659073,4659073,dsgdb9nsd_133884,17,6,3JHC,1.173370
4659074,4659074,dsgdb9nsd_133884,17,7,2JHC,4.762010
4659075,4659075,dsgdb9nsd_133884,17,8,1JHC,117.934000

In [ ]:
structure = ...
structure.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

# TASK II :  Data Cleaning, Preparation, and Fusion

Read into dataframes the files _train.csv_ and _structure.csv_

Your target variable is `scalar_coupling_constant`

**Answer this Question (in a text cell)**: which kind of machine learning task are we performing if we want to predict `scalar_coupling_constant` (given the nature of this variable)

 Check and address in the train file missing and/or duplicate values:
- missing values -> remove or fill in
- duplicate entries -> remove

Merge the _structure_ values with the _training_ data. Each atom is associated with a value of x-y-z included in the structures.csv file. You need to
- merge the structure dataframe to the train dataframe using the name of the `molecule name` and the value of `atom_index` in structure and `molecule name` and `atom_index_0` in train.
- merge again the resulting file with structure using the `molecule name` and the value of `atom_index` in structure and `molecule name`
 and `atom_index_1` in train

 _this is a technique we have not seen very often in class, but you can help yourself with the documentation of the method **merge** - given two dataframes df1 and df2_
```df1.merge(df1, left_on=[df1_column1, df1_column2], right_on=[df2_column1, df2_column2]...)```

 At least one variable is a multi-class categorical. Convert it to a one-hot-encoded variable (Hint: we have seen examples of this with the Titainc data for example)


 Sanity check: compare the shape of your dataframe with mine at this point: I had 19 columns and 4503143. You do not need to have the exact shape as mine, you may have made different choices that would lead to different numbers. But you should be able to make sense of the number I have and the numbers you have based on the choices you made and the process I described above.

In [ ]:
print("The original train dataset contains "
f"{} features for {} molecules"......

Identify the columns containing molecule identifiers, i.e. not properties of the molecules that should not be included in the model. Consider this when you remove duplicate data.

In [ ]:
print(f"Removing duplicated and missing data I lost {:.2}% of the data"......)

In [ ]:
merged_train = ...

In [ ]:
print("After the merge the dataset contains "
f"{} features for {} molecules"......

In [ ]:
....

,id,molecule_name,atom_index_0,atom_index_1,scalar_coupling_constant,x_x,y_x,z_x,x_y,y_y,z_y,1JHC,1JHN,2JHC,2JHH,2JHN,3JHC,3JHH,3JHN
0,0,dsgdb9nsd_000001,1,0,84.8076,0.002150,-0.006031,0.001976,-0.012698,1.085804,0.008001,1,0,0,0,0,0,0,0
1,4,dsgdb9nsd_000001,2,0,84.8074,1.011731,1.463751,0.000277,-0.012698,1.085804,0.008001,1,0,0,0,0,0,0,0
2,7,dsgdb9nsd_000001,3,0,84.8093,-0.540815,1.447527,-0.876644,-0.012698,1.085804,0.008001,1,0,0,0,0,0,0,0
3,9,dsgdb9nsd_000001,4,0,84.8095,-0.523814,1.437933,0.906397,-0.012698,1.085804,0.008001,1,0,0,0,0,0,0,0
4,1,dsgdb9nsd_000001,1,2,-11.2570,0.002150,-0.006031,0.001976,1.011731,1.463751,0.000277,0,0,0,1,0,0,0,0

In [ ]:
print("After one-hot-encoding the dataset contains "
"{} features for {} molecules"......

In [ ]:
merged_train.shape

(4503143, 19)

# TASK III :  Data Explorations

Make plot that allow you to get an idea of

- the distribution of each feature in your dataframe

- the correlation between features

Decide what you do in case you find odd distributions or strong correlations.

(Note: for some visualization that take a lot of computational time and power, you may need to use only a subset of the dataset, for example 1 out of 10 or 100 points)

In [ ]:
...

# Task IV: model choice and preprocessing
Now its time to choose your model.
- Justify your choice (based on the nature of the data and task to be performed)
- Prepare (scale, whiten, etc) the data accordingly
- Split the data into train/test or train/validation/test
- Create, Run, Tune the model

*(Hint: this is a lot of data! while you are trying out things you probably want to use only a subset of the data, like I suggested above for the visualizations. Before turning in the final version then you can run on the full dataset)*

In [ ]:
...

# Task V: model evaluation


Report on the model result

Visualize the prediction against the true values of the target variable

In [ ]:
...

# Task VI: Perform (at least) one additional task


- **If you used a linear regression model**
Try at least one CART model

- **If you used a CART model**
Make a plot of the feature importance, identify if there is a dominant feature, if so remove it (or remove the feature family altogether) and redo the fit. Can you still predict values effectively?

- **If you used a neural network**
Try change the architecture e.g. modify the number of layers, adding dropout layers to address overfitting, changing optimizer/loss/activation functions (but justify the choices on the basis of data and task)

- **If you used yet another model**
Try at least one CART model

- Alternatively, for whichever model you used
You can **use additional variables or create additional features** by manipulating and combining variables (e.g. the xyz values can be turned into distances like was done for example here https://www.kaggle.com/code/artgor/molecular-properties-eda-and-models/notebook)

# EC, do any of the other tasks above